# --- Credenciais e Segredos (CRÍTICO) ---
google_credentials.json
secrets.txt
.env

# --- Streamlit ---
# Ignora apenas os segredos, mas permite subir configurações de tema (config.toml)
.streamlit/secrets.toml

# Caso queira ignorar a pasta inteira (como estava antes), descomente a linha abaixo:
# .streamlit/

# --- Python e Ambientes Virtuais ---
__pycache__/
*.pyc
venv/
.venv/
env/

# --- Arquivos de Sistema Operacional ---
desktop.ini
.DS_Store

# --- IDEs (VS Code, PyCharm, etc) ---
.vscode/
.idea/

#arquivo excel
Aviso de Anomalias 2025.xlsx